@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@keyframes moveLeftToRight {
  0% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(calc(0%));
  }
}

@keyframes moveRightToLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-350%);
  }
}

@media (max-width: 560px) {
  .animate-move-left-to-right {
    animation: moveLeftToRight 60s linear infinite;
  }
}

@media (max-width: 560px) {
  .animate-move-right-to-left {
    animation: moveRightToLeft 60s linear infinite;
  }
}

@keyframes partner {
  0% {
    transform: translateX(-40%);
  }
  100% {
    transform: translateX(calc(0));
  }
}

@media (max-width: 560px) {
  .partner-animate {
    animation: partner 10s linear infinite alternate;
  }
}
